@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flag-icons/css/flag-icons.min.css";

@layer base {
  body {
    @apply antialiased transition-colors duration-300;
  }

  /* Thèmes */
  html.light body {
    @apply bg-gray-100 text-black;
  }
  html.dark body {
    @apply bg-gray-900 text-white;
  }
}

/* Images dans la prose (optionnel) */
.prose img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  display: block;
}

/* Masquer la scrollbar (pour les conteneurs avec .no-scrollbar) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}

/* Curseur pendant le drag */
.dragging {
  cursor: grabbing !important;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE et Edge */
  scrollbar-width: none;     /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}
